body {
    background-color: rgba(0, 0, 0, 0.950);
}

header {
    background-color: rgba(255, 21, 21, 0.767);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    color: rgb(255, 255, 255);
}

h2 {
    color: white;
    font-size: 50px;
}


.info {
    opacity: 0;
    visibility: hidden;
    height: 0px;
}


.card:hover .info {
    opacity: 1;
    visibility: visible;
    position: relative;
    bottom: 600px;
    color: white;
}